# REST Configuration
TINY_SCHOLAR_PORT='3000'
DELAY_WINDOW_MIN='30'
DELAY_AFTER_NUMBER_OF_REQ='2'
DELAY_MINUTES='2'

# Telegram Notifier Bot Config
TELEGRAM_IS_BOT_ACTIVE='false'
TELEGRAM_SECRET_TOKEN='your-secret-token-if-bot-is-active'
TELEGRAM_ID_LIST_TO_BE_NOTIFIED='chat-id'
TELEGRAM_HELP_TEXT='You need to be assigned by the server-side software to be able to receive notifications. Please contact admin.'

# TINY Scholar Configuration
SERVE_ONLY_CACHE='false'

# Save This File as .env