# REST Configuration
TINY_SCHOLAR_PORT='3000'
DELAY_WINDOW_MIN='30'
DELAY_AFTER_NUMBER_OF_REQ='2'
DELAY_MINUTES='2'

# TINY Scholar Configuration
SERVE_ONLY_CACHE='false'

# Telegram-notifications related stuff
TELEGRAM_IS_BOT_ACTIVE='false'
TELEGRAM_SECRET_TOKEN='270485614:AAHfiLLsKZ8WmR2zSjiQ7_v4TMAKdEXAMPLE'
TELEGRAM_ID_LIST_TO_BE_NOTIFIED='ID1 ID2'
TELEGRAM_HELP_TEXT='this is the telegram help text from configuration'

# Save This File as .env